@model KnowledgeHubPortal.Models.Domain.Category

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h2>Create Category</h2>
<hr/>
<form asp-action="Create" asp-controller="categories" method="post">
	<label asp-for="CategoryName">Category Name</label><br/>

	<input type="text" asp-for="CategoryName" /><br/>
	<span asp-validation-for="CategoryName"></span><br/><br />
	<label asp-for="CategoryDescription">Description</label><br/>
	<textarea rows="6" cols="60" asp-for="CategoryDescription"></textarea><br/>
	<span asp-validation-for="CategoryDescription"></span><br/><br />

	<input type="submit" name="btnSubmit" value="Create"/>
</form>
